h1 {
  color: hotpink;
  font-family: cursive;
}

.timer {
  font-variant-numeric: tabular-nums;
  color: hotpink;
}

.timer__values,
.timer__titles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timer__values > div,
.timer__titles > div {
  flex: 0 1 auto;
}
