:root {
  --color-primary: #ff69b4;
  --color-secondary: #84ebff;
  --color-strong-secondary: #39b3ff;
  --color-super-strong-secondary: #007fcb;
  --color-white: #efefef;
  --color-black: #2f2f2f;
}

.invisible {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html,
body,
body > div,
.main {
  min-height: 100%;
  font-family: sans-serif;
  height: 100vh;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}

.main {
  max-width: 375px;
  margin: auto;
}

h1 {
  color: var(--color-primary);
  font-family: cursive;
  text-align: center;
}

.timer {
  margin-bottom: 4rem;
}

.timer__values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-super-strong-secondary);
  padding: 0.8rem;
  border-radius: 8px;
}

.timer__values > .timer__values_cell {
  flex: 0 1 auto;
}

.timer__values_cell {
  font-variant-numeric: tabular-nums;
  text-align: center;
  padding: 0.4rem;
  border-radius: 8px;
  background-color: var(--color-secondary);
  color: var(--color-super-strong-secondary);
  min-width: 20%;
}

.timer__values_value {
  font-size: 2rem;
  font-weight: 800;
  color: var(--color-primary);
}

.timer__titles_title {
  font-weight: 600;
}

.stopSience {
  display: block;
  min-height: 3rem;
  padding: 0.8rem;
  border-radius: 8px;
  box-shadow: 0px 0px 16px var(--color-black);
}

.stopSience:active {
  box-shadow: inset 0px 0px 4px var(--color-black);
}

.stopSience_text {
  font-size: 1.4rem;
  font-weight: 600;
}

.stopSience_date {
  font-size: 1.8rem;
  color: var(--color-strong-secondary);
}

.additional-information {
  display: block;
  margin-top: 10rem;
}

.additional-information > h2 {
  text-decoration: underline;
  color: var(--color-super-strong-secondary);
  text-transform: uppercase;
}

.additional-information_body {
  display: none;
}

.additional-information_indicator:checked + .additional-information_body {
  display: block;
}
